*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    background: url("audience.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
}
kbd {
    display: block;
    font-size: 42px;
}

.keys{
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}
.key{
    border: 4px solid black;
    border-radius: 4px;
    margin: 15px;
    font-size: 18px;
    padding: 15px 7px;
    width: 120px;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 7px black;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 15px #ffc600;
}
.sound{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ffc600;
}


